.projectCard {
  width: 90%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  a{
    img{
        width: 100%;
        height: 340px;
        object-fit: cover;
    }
  }
  .userInfo{
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;
    .img{
        img{
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            object-fit: cover;
        }
    }
  }
}
