@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,400;1,500;1,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
:root{
  --primary: #1dbf73;
  --secondary: #013914;
}
body{
  font-family: 'Poppins', sans-serif;
}
.container{
  width: 90%;
  margin: 0 auto;
}
a{
  text-decoration: none;
}
.slick-slide {
  outline: none!important;
}